<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Small Stall jsp App</display-name>

  <servlet>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>com.javapapers.java.social.facebook.MainMenu</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

</web-app>
